h1{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 70px;
}

.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.country {
    border: 2px solid purple;
    text-align: center;
    padding: 5px;
    border-radius: 0 40px 0 40px;
}

.country img {
    width: 100%;
    height: 250px;
    border-radius: 0 40px 0 0;
}


button {
    padding: 10px 20px;
    width: 350px;
    border-radius: 25px;
    margin: 10px;
    border: 2px solid purple;
    cursor: pointer;

}


.country-details {
    border: 2px solid purple;
    text-align: center;
    padding: 5px;
    border-radius: 0 40px 0 40px;
    margin-bottom: 50px;
}

.country-details img {
    width: 100%;
    height: 500px;
    border-radius: 0 40px 0 0;
}